$color-gradient: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$color-linear-1: linear-gradient(180deg, rgba(12, 16, 45, 0) -4.71%, #0C102D 97.38%);
$color-linear-2: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$color-linear-3: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
$color-clean: #fff;
$color-primary-light: #bdc0e4;
$color-primary-80: #3B48D0;
$color-primary-100: #0A1482;
$color-error: #FD4646;
$color-border: #636363;
$color-text-40: #A2CBFB;
$color-clean-5: rgba(255, 255, 255, 0.05);
$color-bg: #0C102D;
$color-star: #15BFFD;