%text-normal {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

%background-image-helper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%background-sphere {
  content: "";
  position: absolute;
  width: 356px;
  height: 356px;
  background: #2A3E84;
  filter: blur(175px);
  z-index: -1;
}

@mixin text-header($h: 2) {
  @if ($h == 1) {
    font-size: 150px;
    @media screen and (width <= 1219px) {
      font-size: 100px;
    }
    @media screen and (width <= 920px) {
      font-size: 12vw;
    }
  } @else if ($h == 2) {
    font-size: 72px;
    @media screen and (width <= 920px) {
      font-size: 8vw;
    }
  } @else if ($h == 3) {
    font-size: 32px;
  } @else {
    font-size: 24px;
  }

  font-family: "Clash Display", sans-serif;
  font-style: normal;

  @if ($h == 4) {
    font-weight: 500;
  } @else {
    font-weight: 600;
  }

  line-height: 120%;
  color: #FFFFFF;

  @if ($h >= 3) {
    text-align: left;
  } @else {
    text-align: center;
  }
}