@use "vars";
@use "mixins";

.contact-us {
  position: relative;
  margin-bottom: var(--margin-between-sections);
  --width: 490px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 56px;
    background: vars.$color-clean-5;
    //backdrop-filter: blur(5px);
    border-radius: 20px;
    position: relative;
  }

  // Border with gradient for &__inner
  &__inner::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: vars.$color-gradient;
    mask: linear-gradient(#fff, #fff) content-box,
    linear-gradient(#fff, #fff);
    mask-composite: exclude;
    pointer-events: none;
  }

  &__header {
    @include mixins.text-header(2);
  }

  &__desc {
    margin-bottom: 8px;
  }

  &__input-wrapper {
    position: relative;
  }

  // Border with gradient for inputs
  &__input-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: vars.$color-gradient;
    mask: linear-gradient(#fff, #fff) content-box,
    linear-gradient(#fff, #fff);
    mask-composite: exclude;
    pointer-events: none;
  }

  & input {
    padding: 24px;
    width: var(--width);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: none;
    color: vars.$color-clean;
  }

  & input:focus,
  & input:focus-visible {
    outline: none;
  }

  & input::placeholder {
    color: vars.$color-text-40;
  }

  &__submit {
    width: var(--width);
    margin-top: 8px;
  }
}

/* Decoration element - sphere */
.contact-us::after {
  @extend %background-sphere;
  top: -150px;
  right: 0;

  @media screen and (width <= 768px) {
    display: none;
  }
}

/* Adaptation for mobiles */
@media screen and (width <= 630px) {
  .contact-us {
    --width: 100%;
  }

  .contact-us__inner {
    padding: 35px 25px;
  }


  .contact-us__input-wrapper {
    width: 100%;
  }

  .contact-us input {
    padding: 16px;
  }
}