@use "vars";
@use "mixins";

.faq {
  margin-bottom: var(--margin-between-sections);
  position: relative;

  &__header {
    @include mixins.text-header(2);
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  &__left-side,
  &__right-side {
    flex-basis: 100%;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  &__desc {
    align-self: flex-start;
  }

  &__question-mark {
    filter: drop-shadow(0px 0px 46.8px #6B55D8) drop-shadow(0px 0px 23.4px #6B55D8);
  }
}

// Accordion component adaptation
.accordion {

  &__item {
    background: rgba(255, 255, 255, 0.05);
  }

  // Gradient border with border radius
  &__item::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: vars.$color-gradient;
    mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    mask-composite: exclude;
    z-index: -1;
  }

  &__header {
    @include mixins.text-header(4);
    background-color: transparent;
    padding: 27px 70px 27px 27px;

    &:hover {
      background-color: transparent;
    }
  }

  &__header::after {
    position: absolute;
    top: 32px;
    right: 20px;
  }

  &__content {
    background-color: transparent;
    color: vars.$color-clean;
    padding: 0 70px 27px 27px;
  }
}

/* Decoration element - sphere */
.faq::before {
  @extend %background-sphere;
  top: 150px;
  right: 0;

  @media screen and (width <= 768px) {
    display: none;
  }
}

// Adaptation for tablets
@media screen and (width <= 1219px) {
  .faq__left-side {
    gap: 25px;
  }

  .faq__right-side {
    width: 580px;
  }

  .faq__desc {
    width: 100%;
    text-align: center;
  }

  .faq__content {
    flex-direction: column;
    align-items: center;
  }

  .faq__question-mark {
    width: 100px;
    height: 100px;
  }
}

// Adaptation for mobile
@media screen and (width <= 630px) {
  // Due to improve performance on mobiles remove question mark decorative element
  .faq__left-side {
    display: none;
  }

  .faq__right-side {
    width: 100%;
  }
}

@media screen and (width <= 450px){
  .accordion__header::after {
    top: 6vw;
  }
}