@use "vars";
@use "mixins";

.gallery {
  margin-bottom: var(--margin-between-sections);
  position: relative;

  &__header {
    @include mixins.text-header(2);
    margin-bottom: 60px;
  }

  &__content {
    display: grid;
    grid-template-areas:
            "intro img-2 img-3"
            "img-1 img-2 img-4"
            "img-1 final final";
    grid-template-columns: 24% 1fr 24%;
    grid-template-rows: auto auto auto;
    gap: 25px 25px;
  }

  &__img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 5px vars.$color-primary-light;
  }

  &__intro {
    grid-area: intro;
    margin-top: 45px;
  }

  &__final {
    grid-area: final;
  }

  &__img-1 {
    grid-area: img-1;
  }

  &__img-2 {
    grid-area: img-2;
  }

  &__img-3 {
    grid-area: img-3;
  }

  &__img-4 {
    grid-area: img-4;
  }
}

/* Decoration element - sphere */
.gallery::after {
  @extend %background-sphere;
  top: 450px;
  left: 50px;
}

// Adaptation for tablets
@media screen and (width <= 1030px) {
  .gallery__content {
    width: 600px;
    margin: 0 auto;
    grid-template-areas: "intro img-1"
                         "final img-1"
                         "img-2 img-2"
                         "img-3 img-4";
    grid-template-columns: 49% 51%;
    gap: 25px 25px;
    justify-items: stretch;
  }
}

@media screen and (width <= 715px){
  .gallery__content {
    width: 100%;
    grid-template-areas: "intro"
                         "final"
                         "img-2"
                         "img-1"
                         "img-3"
                         "img-4";
    grid-template-columns: 100%;
    gap: 25px;
  }

  .gallery__intro {
    margin: 0;
  }

  .gallery::after {
    left: 0;
  }
}