@use "vars";

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 20;

  @media screen and (max-width: 820px) {
    top: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    position: relative;
    z-index: 10;
  }
}

// Чтобы выстроить логотип и кнопку-бургер в одну линию на мобильных
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.nav__link {
  color: vars.$color-clean;
  text-decoration: none;
}

// На десктопах скрываем кнопку-бургер
.nav__burger {
  display: none;
}

@media screen and (max-width: 820px) {

  .nav__list {
    // Растягиваем мобильное меню на весь экран
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    flex-direction: column;
    gap: 20px;
    background-color: black;
    height: 100vh;
    z-index: 5;
    text-align: center;
    margin: 0;
    padding: 140px 0 30px 0;
    overflow: auto;

    // Первоначально скрываем список с меню на мобильных (открывать будем по клику на бургер)
    visibility: hidden;
    opacity: 0;
    // Анимируем исчезновение меню на мобильных
    transition-property: visibility, opacity;
    transition-duration: 0ms, 200ms;
    transition-delay: 200ms, 0ms;
    transition-timing-function: ease, ease-out;
  }

  // Если будет открыто меню на мобильном, то применим к нему вот такие стили
  .nav__list.open {
    // Показываем меню
    visibility: visible;
    opacity: 0.95;

    // Анимируем появление меню на мобильных
    transition-duration: 0ms, 200ms;
    transition-delay: 0ms, 0ms;
  }

  // Показываем кнопку-бургер и выравниваем центральную палочку по середине по высоте
  .nav__burger {
    display: flex;
    align-items: center;
    width: 35px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;      // Нужно, чтобы z-index применился
    z-index: 10; // Кнопка должна оставаться выше всех остальных элементов на экране
  }

  // Оформляем центральную палочку внутри кнопки-бургер
  .nav__burger-line {
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    position: relative;
  }

  .nav__burger-line::before,
  .nav__burger-line::after{
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
  }
  .nav__burger-line::before{
    top: 10px;
  }
  .nav__burger-line::after{
    top: -10px;
  }

  .nav__list.open ~ .nav__burger .nav__burger-line {
    background: transparent;
  }

  .nav__list.open ~ .nav__burger .nav__burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .nav__list.open ~ .nav__burger .nav__burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  // Оформление ссылок в меню
  .nav__link {
    font-size: 3vh;
    display: block;
    padding: 10px 0;
  }
}