@use "vars";

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 20;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.nav__link {
  color: vars.$color-clean;
  text-decoration: none;
}