@import "_reset";
@import "_fonts";
@import "_vars";
@import "_mixins";

:root {
  --base-unit: calc(1vh + 1vw);
  --margin-between-sections: 180px;
}

/* Set default options */
body {
  @extend %text-normal;
  background-color: $color-bg;
}

.container {
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}