@use "reset";
@use "fonts";
@use "vars";
@use "mixins";

:root {
  --base-unit: calc(1vh + 1vw);
  --margin-between-sections: 180px;
}

html {
  scroll-behavior: smooth;
}

/* Set default options */
body {
  @extend %text-normal;
  background-color: vars.$color-bg;
}

.container {
  max-width: 1220px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.invisible {
  display: none;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  background: vars.$color-linear-2;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  /* Font */
  @extend %text-normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: vars.$color-primary-100;

  &:hover {
    color: vars.$color-primary-80;
  }

  &:active {
    color: vars.$color-clean;
  }
  
  @media screen and (width <= 630px) {
    font-size: 16px;
    padding: 19px 26px;
  }
}

