@use "vars";
@use "mixins";

.steps {
  margin-bottom: var(--margin-between-sections);
  position: relative;

  &__header {
    @include mixins.text-header(2);
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
  }

  &__step:nth-child(1) {
    margin-bottom: 124px;
  }

  &__step:nth-child(2) {
    margin-top: 124px;
  }
}

.step {
  width: 475px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  padding: 24px;

  /* Gradient border with border-radius */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: vars.$color-gradient;
    mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    mask-composite: exclude;
    z-index: -1;
  }

  &__position {
    @include mixins.text-header(4);
  }

  &__title {
    @include mixins.text-header(3);
  }

  &__desc {

  }
}

/* Decoration elements - connectors to the central trunc */
.step::after {
  content: "";
  width: 267px;
  height: 228px;
  position: absolute;
  top: -18px;
  @extend %background-image-helper;
}

.step:nth-child(1)::after {
  background-image: url("../img/steps/left-pointer.svg");
  right: -137px;
}

.step:nth-child(2)::after {
  background-image: url("../img/steps/left-pointer.svg");
  transform: rotateZ(180deg);
  left: -137px;
}

/* Decoration element - central trunc */
.steps::before {
  content: "";
  width: 4px;
  height: 870px;
  background-image: vars.$color-linear-2;
  position: absolute;
  top: 263px;
  left: 719px;
}

/* Decoration element - sphere */
.steps::after {
  @extend %background-sphere;
  top: 450px;
  left: 100px;
}

// Adaptation for tablets
@media screen and (width <= 1219px) {
  .steps__block {
    flex-direction: column;
    gap: 55px;
    padding: 0;
  }

 .steps__step:nth-child(1),
 .steps__step:nth-child(2) {
    margin: 0;
  }

  .steps__content {
    gap: 55px;
    align-items: center;
  }

  .steps::before {
    display: none;
  }

  .steps::after {
    left: 0;
  }

  .step::after {
    display: none;
  }
}

// Adaptation for mobiles
@media screen and (width <= 630px){
  .step {
    width: 100%;
    max-width: 475px;
  }

  .step__position {
    font-size: 4vw;
  }

}