section#gallery.gallery
    .container
        h2.gallery__header Gallery
        .gallery__content
            p.gallery__intro.
                By the end of this course, you will be able to develop and publish your very own Google Chrome
                extension! In this course we will focus on coding exercises and projects.
            p.gallery__final.
                If you would like to learn web development and get a job in the tech industry, you are going to LOVE this course! Learn HTML, CSS, JavaScript, Bootstrap and more with over 15 hours of HD video tutorials! This course was designed to be extremely beginner friendly. We will begin with the very basics of HTML and build a simple web page.
            img.gallery__img.gallery__img-1(src=require("./img/photo-1.jpg") alt="A programmer is working")
            img.gallery__img.gallery__img-2(src=require("./img/photo-2.jpg") alt="A programmer is working")
            img.gallery__img.gallery__img-3(src=require("./img/photo-3.jpg") alt="A programmer is working")
            img.gallery__img.gallery__img-4(src=require("./img/photo-4.jpg") alt="A programmer is working")
