section.promo
    .container
        .promo__inner
            .promo__content-block
                h1.promo__header
                    span.promo__header-span1 Front-End
                    span.promo__header-span2 Developer
                    span.promo__header-span3 Courses
                .promo__subheader Make UIs and websites beautiful, functional, and fast. Cover all the topics that expensive bootcamps teach (and more).
                a.promo__button.button(href="#contact-us") Start my career change