@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@700&display=swap');

@font-face {
  font-family: "Clash Display";
  src: url("ClashDisplay-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("ClashDisplay-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("ClashDisplay-Semibold.woff2");
  font-weight: 600;
  font-display: swap;
}